@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <link rel="stylesheet" href="/client-app/dist/assets/index-Cz2UkIp8.css" />
    
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - ViteNET.React Projesi</p>
    </footer>

    <script src="/client-app/dist/assets/index-DMaQvs8L.js"></script>
</body>
</html>
