@page
@model IndexModel
@{
    ViewData["Title"] = "Giriş";
}

<div id="root"></div>

<!-- Link the compiled React build files -->
<link rel="stylesheet" href="/client-app/dist/assets/index-Cz2UkIp8.css" />
<script src="/client-app/dist/assets/index-DMaQvs8L.js"></script>
